$titlefont: 'Oswald', sans-serif;
$pfont: 'Open Sans', sans-serif;
$headingfont: 'Montserrat', sans-serif;

$firstbackgroundcolor: #e7e7e7;
$secondbackgroundcolor: #51707c;
// rgb(81,112,124)
$primaryfontcolor: black;
$secondaryfontcolor: #808080;
$tertiaryfontcolor: #666666;

$accentcolor: #dd4132;

// rgba(81,112,124, 0.9),
//  rgba(81,112,124, 0.9)),

$middlegrey: rgb(200,200,200);
$darkergrey: rgb(180,180,180);